<form class="form formet">
    <div class="form__group col-md-12 form-group"><label class="form__label" for="name">Name</label><input class="form-control form__input" id="name" name="name" type="text" required="required" /></div>
    <div class="form__group col-md-12 form-group"><label class="form__label" for="tinno">TinNo</label><input class="form-control form__input" name="tinno" id="tinno" type="number" required="required" /></div>
    <div class="form__group col-md-12 form-group"><label class="form__label" for="licenseno">License No</label><input class="form-control form__input" name="licenseno" id="licenseno" type="text" required="required" /></div>
<div class="form__group col-md-12 form-group">
    <label class="form__label" for="subcityId">Subcity</label>
    <select class="form-control form__input" name="subcityId" id="subcityId" required="required">
        <option value="">Select a subcity</option>
        <option value="acc93517-b46b-4bc5-9505-5db89f51a46a">Kolfe Keranio</option>
        <option value="38d1a2f4-d1a9-4e15-9b9d-8b846e9ff015">Addis Ketema</option>
        <option value="ffbaa2ef-b37b-4629-afe1-b041c6b388db">Nifas Silk-Lafto</option>
        <option value="c2a70179-8da9-4ce3-84a5-b1002d62e0ca">Gulele</option>
        <option value="25afb69c-3412-4dbe-b1e0-bb29c25e73d8">Yeka</option>
        <option value="8def9b45-ad8a-4b17-8dcf-c1466b46edf2">Akaki Kality</option>
        <option value="35634eb2-4731-4b49-9734-c8dd745e6a8b">Lideta</option>
        <option value="91e79ac8-b169-468a-98e0-dd0c7d44843f">Kirkos</option>
        <option value="76a7e6b4-f303-461a-9105-e176a67ef60b">Bole</option>
        <option value="407109bb-d9c0-4a87-b9f5-e1d5663ed65c">Arada</option>
    </select>
</div>
    <div class="form__group col-md-12 form-group"><label class="form__label" for="woreda">Woreda</label><input class="form-control form__input" name="woreda" id="woreda" type="number" required="required" /></div>
    <div class="form__group col-md-12 form-group"><label class="form__label" for="phone">Phone No</label><input class="form-control form__input" name="phone" id="phone" type="number" required="required" /></div>
    <div class="form__group col-md-12 form-group"><label class="form__label" for="licenseimage">Upload License</label><input class="form-control form__input" name="licenseimage" id="licenseimage" type="text" required="required" /></div>
    <div class="form__group col-md-12 form-group"><button type = "button" class="btn btn-primary btn--green" onclick="insertBuyer();">Request</button></div>
</form>